* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: rgba(135, 169, 243, 0.616);
  }
  
  /* Style the header */
  .header {
    background-color: #5980ec;
    padding: 11px;
    text-align: center;
  }
  
   /* Style the footer */
   .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(85, 35, 202, 0.712);
    color: white;
    text-align: center;
  }

  /* Change color on hover */
  .button:hover {
    background-color:darkolivegreen;
    color: black;
  }
  
  th, td {
    padding: 5px;
    text-align: left;
  }

  .column_header {
    padding: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 900px;
    height: 100px;
  }

   .column {    
    text-align: center;
    padding: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    height: 300px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    align-self: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

  .loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  